body {
  margin: 1rem 1rem 0 1rem;
  overflow: hidden;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 2500% 2500%;
  animation: gradientBG 20s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (min-width: 480px) {
  body {
    width: 25%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    width: 35%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  body {
    width: 30%;
  }
}

h1 {
  margin: 0;
}

h4 {
  margin: 0.5rem 0 0.5rem 0;
}

button {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.4rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  mix-blend-mode: screen;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white;
  color: darkslategrey;
}

input {
  color: darkslategrey;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background: none;
  text-align: right;
  width: 70%;
}

input:focus {
  outline: none;
}

label {
  height: 200%;
  width: 22%;
}

.button-area {
  display: flex;
  justify-content: flex-end;
}

.input-area {
  background: white;
  color: darkslategrey;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 0.4rem;
  align-items: baseline;
}

.results {
  border-radius: 0.4rem;
}

.result {
  display: flex;
  margin: 1rem 0 1rem 0;
  border: 1px solid white;
  border-radius: 0.4rem;
  padding: 1rem;
  justify-content: flex-end;
  justify-content: space-between;
  align-items: baseline;
}

ol {
  max-width: 350px;
  list-style: none;
  padding-left: 40px;
}

li {
  padding: 0.5rem 0 0.5rem 0;
}

ol li {
  margin: 0 0 0.5rem 0;
  counter-increment: my-awesome-counter;
  position: relative;
}

ol li::before {
  content: counter(my-awesome-counter);
  color: darkslategrey;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  --size: 32px;
  width: var(--size);
  height: var(--size);
  top: 0;
  background: white;
  border-radius: 50%;
  text-align: center;
}